@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

/* Start of Necessary overlay */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('../assets/Background.jpg') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

h2 {
    color: white;
    padding-top: 5px;
    margin-left: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px, 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    padding-right: 50px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup  {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

/* End of Necessary overlay */

.container {
    padding-top: 20px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.Piechart {
    margin: 20px 0 20px 20px; 
    background-color: white; 
    border-radius: 15px; 
    padding: 20px; 
    float: left; 
    width: calc(45% - 40px); 
}

.Barchart {
    margin: 20px 20px 0 0; 
    background-color: white; 
    border-radius: 15px; 
    padding: 20px; 
    float: right; 
    width: calc(45% - 40px); 
}

.Linechart {
    clear: both; 
    margin: 20px 0; 
    background-color: white; 
    border-radius: 15px; 
    padding: 50px; 
    width: calc(100% - 40px); 
    height: 500px;
    margin-left: 20px;
}

.chart-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.select{
    font-size: 15px;
    height: 40px;
    width: 25%;
    margin-top: -20px;
}

